.playerJob {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--com-bg-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.playerJob h1, .playerJob h2 {
    margin: 0;
}

.playerJob .playerJob-name {
    text-transform: uppercase;
}

.playerJob .playerJob-name h1 {
    font-size: 1rem;
    color: var(--text-color-primary);
}

.playerJob-buttons {
    display: flex;
    align-items: center;
}

.playerJob button {
    border: none;
    background: none;
    color: var(--text-color-primary);
    margin: 0 5px;
    text-transform: uppercase;
}

.playerJob button:hover {
    cursor: pointer;
}
