.companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-grow: 1;
    min-height: 0;
    margin-bottom: 1rem;
}

.companies::-webkit-scrollbar {
    display: none;
}
