* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: "Roboto";
    overflow: hidden;
    position: relative;
}

.app h1.headline {
    margin: 0;
    padding: 1rem 1rem .5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-align: center;
}

.app .footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.app.light .footer {
    background-color: #e7e7e7;
}

.app.dark .footer {
    background-color: #1c1c1c;
}

.app .footer button {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #fefefe;
    text-transform: uppercase;
    border: none;
    background: none;
}

.app.light .footer button {
    color: #111;
}

.app.dark .footer button {
    color: #fefefe;
}

.app .footer button:hover {
    cursor: pointer;
}

.app.light {
    background-color: #fefefe;
}

.app.dark {
    background-color: #111;
}

.app.light h1.headline {
    color: #111;
}

.app.dark h1.headline {
    color: #fefefe;
}

.user-overview {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.user-overview h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.app.light .user-overview h3 {
    color: #111;
}

.app.dark .user-overview h3 {
    color: #fefefe;
}

.user-overview-container {
    padding: 2rem 6rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app.dark .user-overview-container {
    background-color: #1c1c1c;
}

.player-jobs {
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 45rem;
    margin-bottom: 5rem;
}

.player-jobs::-webkit-scrollbar {
    display: none;
}

.app-content {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.app-content.transitioning {
    opacity: 0;
}

.app .create-button {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
}

.app button.create-post {
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
    color: #fefefe;
    text-transform: uppercase;
    border: none;
    background: none;
}

.app button.create-post:hover {
    cursor: pointer;
}

.app.light button.create-post {
    color: #111;
}

.dev-wrapper {
    position: absolute;

    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 29rem;
    height: 58.5rem;
}
